.double {
  display: flex;
}

.console {
  height: 100vh;
  width: 350px;
  padding: 20px;
  padding-top: 50px;
}
.console_current {
  position: relative;
}
.console_current_top {
  height: 70px;
  background-color: #2f1b41;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  justify-content: space-around;
}
.console_current_top #holder {
  display: block;
  width: 13px;
  height: 30px;
  background-color: silver;
  border-radius: 5px;
  position: relative;
  top: -10px;
  z-index: 20 !important;
}
.console_current_center {
  height: 160px;
  background-color: rgb(222, 219, 219);
  display: grid;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  color: #c50851;
  text-align: center;
}
.console_current_center :nth-child(2) {
  color: #2f1b41;
  font-size: 30px;
  padding-top: 10px;
}
.console_current_holes {
  height: 40px;
  position: relative;
  top: -230px;
  display: flex;
  justify-content: space-around;
}
.console_current_holes #oval {
  display: block;
  position: relative;
  width: 20px;
  height: 20px;
  background-color: white;
  top: 7px;
  border-radius: 50%;
}
.console_calendar {
  position: relative;
  top: -20px;
}
.console_edit {
  width: 100%;
  height: 50px;
  font-size: large;
  color: whitesmoke;
  font-weight: bold;
  background-color: #2f1b41;
}

.detail {
  width: 100%;
  padding: 20px;
  padding-top: 50px;
  min-width: 700px;
}
.detail h1 {
  background-color: #2f1b41;
  color: yellow;
  display: grid;
  justify-content: center;
}
.detail_appointment {
  height: 250px;
  display: grid;
  justify-content: center;
  align-items: center;
  position: relative;
}
.detail_appointment #shell {
  padding: 10px;
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
  border: 2px solid #2f1b41;
  border-radius: 20px;
  position: relative;
}
.detail_appointment #shell button {
  border: 2px solid #2f1b41;
  color: #2f1b41;
  width: 90px;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 14px;
}
.detail_appointment #shell #temp {
  position: absolute;
  top: -3px;
  bottom: -3px;
  right: -3px;
  left: -3px;
  background-color: white;
  display: grid;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  color: #c50851;
}
.detail_appointment #shell #temp #loader {
  position: absolute;
  display: grid;
  align-self: center;
  left: 20%;
  border: 4px solid #f3f3f3;
  border-top: 4px solid #c50851;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
}
@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.detail_appointment #shell #clock {
  text-align: center;
  cursor: pointer;
}
.detail_appointment #shell #clock img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 90px;
  height: 90px;
}
.detail_appointment #shell #info {
  max-width: 500px;
  padding: 10px;
}
.detail_appointment #shell #info #line {
  display: flex;
  padding: 5px;
}
.detail_appointment #shell #info #line :nth-child(1) {
  font-weight: bold;
  text-decoration: underline;
  width: 150px;
}
.detail_appointment #shell #info #line :nth-child(2) {
  width: 350px;
  max-height: 50px;
  overflow: scroll;
  min-width: 90px;
  border-bottom: 1px dashed purple;
  outline: none;
  color: #c50851;
}
.detail_appointment #shell #info #line :nth-child(2)::-webkit-scrollbar {
  display: none;
}
.detail_appointment #shell #info #additional {
  max-width: 100%;
  line-height: 21px;
  max-height: 100px;
  overflow: scroll;
  min-width: 90px;
  border-bottom: 1px dashed purple;
  outline: none;
  color: #c50851;
}
.detail_appointment #shell #info #additional::-webkit-scrollbar {
  display: none;
}
.detail_schedule {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 5px;
}
.detail_schedule_each {
  border: 1px solid #2f1b41;
  border-radius: 5px;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
  color: white;
  font-size: 14px;
}/*# sourceMappingURL=Appointment.module.css.map */